@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p> A simple web app that allows a user to enter an address for a home and then see
details for that home from Zillow's GetSearchResults API</p>
